In [1]:
import pandas as pd
import os
pd.set_option('display.max_rows',1000)
pd.set_option('display.max_columns',1000)

In [9]:
df= pd.DataFrame(columns=['file_name','category','content'])
categories= os.listdir('files/')
for cat in categories:
    all_files= os.listdir(f'files/{cat}/')
    files= list( filter(lambda x: x[-4:]=='.txt',all_files))
    for file in files:
        with open(f'files/{cat}/{file}') as f:
            df= df.append({'file_name':file,'category':cat,'content':f.read()},ignore_index=True)

In [10]:
df

     file_name  category                                            content
0      001.txt  business  Ad sales boost Time Warner profit\n\nQuarterly...
1      002.txt  business  Dollar gains on Greenspan speech\n\nThe dollar...
2      003.txt  business  Yukos unit buyer faces loan claim\n\nThe owner...
3      004.txt  business  High fuel prices hit BA's profits\n\nBritish A...
4      005.txt  business  Pernod takeover talk lifts Domecq\n\nShares in...
...        ...       ...                                                ...
2220   397.txt      tech  BT program to beat dialler scams\n\nBT is intr...
2221   398.txt      tech  Spam e-mails tempt net shoppers\n\nComputer us...
2222   399.txt      tech  Be careful how you code\n\nA new European dire...
2223   400.txt      tech  US cyber security chief resigns\n\nThe man mak...
2224   401.txt      tech  Losing yourself in online gaming\n\nOnline rol...

[2225 rows x 3 columns]

In [11]:
df.to_csv('data/news_dataset_v1.csv')

In [12]:
import pandas as pd
data= pd.read_csv('data/news_dataset_v1.csv',index_col='Unnamed: 0')

In [13]:
data

     file_name  category                                            content
0      001.txt  business  Ad sales boost Time Warner profit\n\nQuarterly...
1      002.txt  business  Dollar gains on Greenspan speech\n\nThe dollar...
2      003.txt  business  Yukos unit buyer faces loan claim\n\nThe owner...
3      004.txt  business  High fuel prices hit BA's profits\n\nBritish A...
4      005.txt  business  Pernod takeover talk lifts Domecq\n\nShares in...
...        ...       ...                                                ...
2220   397.txt      tech  BT program to beat dialler scams\n\nBT is intr...
2221   398.txt      tech  Spam e-mails tempt net shoppers\n\nComputer us...
2222   399.txt      tech  Be careful how you code\n\nA new European dire...
2223   400.txt      tech  US cyber security chief resigns\n\nThe man mak...
2224   401.txt      tech  Losing yourself in online gaming\n\nOnline rol...

[2225 rows x 3 columns]

In [2]:
# test= pd.read_csv('data/test/indian_news_headlines.csv')

In [14]:
# test['headline_category'].value_counts()[:1000]

In [13]:
# cat= test['headline_category'].value_counts().index

In [14]:
# gp= test.groupby('headline_category')

In [37]:
# sport= gp.get_group('sports')[:1042]
# len(sport)

1042

In [36]:
# entertainment= gp.get_group('entertainment')[:1042]
# len(entertainment)

1042

In [35]:
# tech= gp.get_group('tech')[:1042]
# len(tech)

1042

In [34]:
# politics= gp.get_group('politics.news')[:1042]
# len(politics)

1042

In [38]:
# business= gp.get_group('business.india-business')[:1042]
# len(business)

1042

In [39]:
# d={}
# d['sport']= sport['headline_text'].values
# d['entertainment']= entertainment['headline_text'].values
# d['tech']= sport['headline_text'].values
# d['politics']= sport['headline_text'].values
# d['business']= sport['headline_text'].values

In [44]:
# df1= pd.DataFrame(d['sport'])
# df1['category']='sport'

# df2= pd.DataFrame(d['entertainment'])
# df2['category']='entertainment'

# df3= pd.DataFrame(d['tech'])
# df3['category']='tech'

# df4= pd.DataFrame(d['politics'])
# df4['category']='politics'

# df5= pd.DataFrame(d['business'])
# df5['category']= 'business'

In [41]:
# test= pd.concat([df1,df2,df3,df4,df5],axis=0).sample(frac=1).reset_index(drop=True)

In [43]:
# test.to_csv('data/test_data.csv')

In [ ]:
# sport            511
# business         510
# politics         417
# tech             401
# entertainment    386